
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


    <div id="main" class="fixed-width">
        <div class="player" style=" height: 252px;">

            <div class="info text-center" style="
    padding-top: 20px;
">
                <div class="" style="width: 100%;">
                    <input type="text" class="textbox" style="width: 70%;height: 35px;" placeholder="username">

                    <input type="text" class="textbox" style="width: 70%;height: 35px;" placeholder="password">

                    <div>
                        <a href="#" class="nextbt">
                            <div class="button primary">Login</div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
