@model IEnumerable<PlayerManagement.Models.Career>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main" class="fixed-width">
    <div class="player">
        <div class="image">
            <div class="viewer" style='background-image: url(images/playerImg.jpg)'></div>
        </div>
        <div class="info text-center">
            <h3>[Name] Carrer</h3>
            <div class="list text-left">
                <table class="career">
                    <thead>
                        <th>Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Goal</th>
                        <th>Club</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClubName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.From)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.To)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfGoals)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

