@model IEnumerable<PlayerManagement.Models.Club>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{PlayerManagement.Models.Club club = Model.FirstOrDefault(); }
@{String Logo = Model.FirstOrDefault().LogoLink;
  DateTime FoundedDate = Model.FirstOrDefault().FoundedDate;
  String Stadium = Model.FirstOrDefault().Stadium;
  
  }
<div class="content">
    <div class="content_center" style="
    display: inline-flex;
    margin-left: 10%;
    margin-right: auto;">
        <img class=" club-logo" src="@Logo" />
        <div class="home-page">
            <div style="color: white; font-size: 50px">Real Madrid</div>
            <div style="color: white;">Found Date : @FoundedDate</div>
            <div style="color: white;">Stadium : @Stadium</div>
            <br />
              
            <div style="color: white;text-align:left;overflow-y:scroll;height:70%;">Description : At the moment Real Madrid are once again setting the benchmark for world football. On 24 May the club won their tenth Champions League title and on 20 December they lifted the Club World Cup. Ancelotti also won the Copa del Rey during his first season in charge and, at the beginning of his second, the European Super Cup. Before that, during the first few years of this century, the Whites lifted three titles under the stewardship of José Mourinho. The Portuguese man left at the end of the 2012-13 campaign.</div>
        </div>

    </div>
</div>




