@model IEnumerable<PlayerManagement.Models.Club>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{PlayerManagement.Models.Club club = Model.FirstOrDefault(); }
@{String Logo = Model.FirstOrDefault().LogoLink;
  DateTime FoundedDate = Model.FirstOrDefault().FoundedDate;
  String Stadium = Model.FirstOrDefault().Stadium;
  
  }
<div class="content">
    <div class="content_center" style="
    display: inline-flex;
    margin-left: 25%;
    margin-right: auto;">
        <img class=" club-logo" src="@Logo" />
        <div class="home-page">
            <div style="color: white; font-size: 50px">Club's Info</div>
            <div style="color: white;">Found Date : @FoundedDate</div>
            <div style="color: white;">Stadium : @Stadium</div>
            <div style="color: white;text-align:left;overflow-y:scroll;height:70%;">Description : adabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjka He has been a Madrid fan since he was a child and he fulfilled his dream
        of playing for the club at the age of 10. Form the very beginning, it was clear that
        he was a special goalkeeper with extremely fast reflexes, great strength in both
        legs and the gift of being almost unbeatable in one-on-one situations. He has proved
        to be a born leader in all of the teams he has played for both at Real Madrid and
        for Spain. In his first Champions League Final, he performed brilliantly to help his
        team win their eighth European Cup. That same season, he played so well that he also
        won the Bravo Award for the best young player of the year. He has won everything
        there is to win, both for Real Madrid and for Spain. He was a key player in his
        country’s victories in the UEFA European Championship in 2008 and 2012 and was one
        of the Spanish heroes in the FIFA World Cup in South Africa in 2010. FIFA, UEFA, the
        fans…but, above all, his fantastic saves, honoured him with the title of the world’s
        best goalkeeper for five years running. He has been a Madrid fan since he was a child and he fulfilled his dream
        of playing for the club at the age of 10. Form the very beginning, it was clear that
        he was a special goalkeeper with extremely fast reflexes, great strength in both
        legs and the gift of being almost unbeatable in one-on-one situations. He has proved
        to be a born leader in all of the teams he has played for both at Real Madrid and
        for Spain. In his first Champions League Final, he performed brilliantly to help his
        team win their eighth European Cup. That same season, he played so well that he also
        won the Bravo Award for the best young player of the year. He has won everything
        there is to win, both for Real Madrid and for Spain. He was a key player in his
        country’s victories in the UEFA European Championship in 2008 and 2012 and was one
        of the Spanish heroes in the FIFA World Cup in South Africa in 2010. FIFA, UEFA, the
        fans…but, above all, his fantastic saves, honoured him with the title of the world’s
        best goalkeeper for five years running. He has been a Madrid fan since he was a child and he fulfilled his dream
        of playing for the club at the age of 10. Form the very beginning, it was clear that
        he was a special goalkeeper with extremely fast reflexes, great strength in both
        legs and the gift of being almost unbeatable in one-on-one situations. He has proved
        to be a born leader in all of the teams he has played for both at Real Madrid and
        for Spain. In his first Champions League Final, he performed brilliantly to help his
        team win their eighth European Cup. That same season, he played so well that he also
        won the Bravo Award for the best young player of the year. He has won everything
        there is to win, both for Real Madrid and for Spain. He was a key player in his
        country’s victories in the UEFA European Championship in 2008 and 2012 and was one
        of the Spanish heroes in the FIFA World Cup in South Africa in 2010. FIFA, UEFA, the
        fans…but, above all, his fantastic saves, honoured him with the title of the world’s
        best goalkeeper for five years running. He has been a Madrid fan since he was a child and he fulfilled his dream
        of playing for the club at the age of 10. Form the very beginning, it was clear that
        he was a special goalkeeper with extremely fast reflexes, great strength in both
        legs and the gift of being almost unbeatable in one-on-one situations. He has proved
        to be a born leader in all of the teams he has played for both at Real Madrid and
        for Spain. In his first Champions League Final, he performed brilliantly to help his
        team win their eighth European Cup. That same season, he played so well that he also
        won the Bravo Award for the best young player of the year. He has won everything
        there is to win, both for Real Madrid and for Spain. He was a key player in his
        country’s victories in the UEFA European Championship in 2008 and 2012 and was one
        of the Spanish heroes in the FIFA World Cup in South Africa in 2010. FIFA, UEFA, the
        fans…but, above all, his fantastic saves, honoured him with the title of the world’s
        best goalkeeper for five years running. He has been a Madrid fan since he was a child and he fulfilled his dream
        of playing for the club at the age of 10. Form the very beginning, it was clear that
        he was a special goalkeeper with extremely fast reflexes, great strength in both
        legs and the gift of being almost unbeatable in one-on-one situations. He has proved
        to be a born leader in all of the teams he has played for both at Real Madrid and
        for Spain. In his first Champions League Final, he performed brilliantly to help his
        team win their eighth European Cup. That same season, he played so well that he also
        won the Bravo Award for the best young player of the year. He has won everything
        there is to win, both for Real Madrid and for Spain. He was a key player in his
        country’s victories in the UEFA European Championship in 2008 and 2012 and was one
        of the Spanish heroes in the FIFA World Cup in South Africa in 2010. FIFA, UEFA, the
        fans…but, above all, his fantastic saves, honoured him with the title of the world’s
        best goalkeeper for five years running.</div>
        </div>

    </div>
</div>




