@model IEnumerable<PlayerManagement.Models.Club>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model)
{
    <div class="content">
        <div class="content_center">
            <img class="club-logo" src="@Html.DisplayFor(modelItem => item.LogoLink)"/>
            <div class="home-page">
                <div style="color: white; font-size: 50px">Club's Info</div>
                <div style="color: white;">Found Date :</div>
                <div style="color: white;">Stadium :</div>
                <div style="color: white;text-align:left">Description : adabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjkaadabjdakfhakjfhakjcna,mncvalkhgb hfalnk fnakbfjka</div>
            </div>          
        </div>
    </div>
}

