@model IEnumerable<PlayerManagement.Models.Coach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="main" class="fixed-width">
    <div class="player">

        <div class="coachmgr info text-center">
            <div class="list text-left achivement">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <img src="@Html.DisplayFor(modelItem => item.ImageLink) " class=" image" />
                            <div class="detail">
                                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                                <p>@Html.DisplayNameFor(model => model.DateOfBirth)</p>
                                <p>@Html.DisplayFor(modelItem => item.Position)</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


