@model IEnumerable<PlayerManagement.Models.Match>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" class="fixed-width">
    <div class="player-pages">
        <!--<div class="top-bar">
            <select class="selector">
                <option value="1">Time</option>
                <option value="2">Name</option>
                <option value="3">Score</option>                
            </select>
            <form name="player-search" id="player-search">
                <input type="text" name="search_text">
                <input type="submit" name="submit-btn" class="button primary" value="Go">
            </form>
        </div>
            -->
        <div class="info text-center">
            <div class="list text-left">
                <table class="career">
                    <thead>
                    <th>Time</th>
                    <th>Name</th>                    
                    <th>Score</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd">
                                <td>
                                    @String.Format("{0:d}",item.Time)                                   
                                </td>
                                <td>                                    
                                    @Html.ActionLink(item.Name, "Details", new { id = item.ID }, new { @class = "action-link" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>                                
                            </tr>
                        }                       
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>