@model IEnumerable<PlayerManagement.Models.PlayerAchievement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{String playerName = Model.ToList().FirstOrDefault().Player.Name;
  String playerImage = Model.ToList().FirstOrDefault().Player.ImageLink;
}
<div id="main" class="fixed-width">
    <div class="player">
        <div class="image">
            <img class="viewer" style="background-image : url(@playerImage)"/>
            
        </div>
        <div class="info text-center">
            
                        
            <h3>@playerName</h3>
            <div class="list text-left achivement">
                <ul>
                    @foreach (var item in Model) {
                    <li>
                        <img src="@Html.DisplayFor(modelItem => item.Achievement.ImageLink)" class="image" />                        
                        <div class="detail">
                            <p>@Html.DisplayFor(modelItem => item.Achievement.Name)</p>
                            <p>@Html.DisplayFor(modelItem => item.Number)</p>
                        </div>
                    </li>
                    }
                </ul>
            </div>            
        </div>
    </div>
</div>

