@model IEnumerable<PlayerManagement.Models.PlayerAchievement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main" class="fixed-width">
    <div class="player">
        <div class="image">
            
            <div class="viewer" style='background-image: url(images/playerImg.jpg)'></div>
        </div>
        <div class="info text-center">
            <h3>[Name] Achivement</h3>
            <div class="list text-left achivement">
                <ul>
                    @foreach (var item in Model) {
                    <li>
                        <img src="@Html.DisplayFor(modelItem => item.Achievement.ImageLink)" class="image" />                        
                        <div class="detail">
                            <p>@Html.DisplayFor(modelItem => item.Achievement.Name)</p>
                            <p>@Html.DisplayFor(modelItem => item.Number)</p>
                        </div>
                    </li>
                    }
                </ul>
            </div>
            <div class="buttons text-center">
                <a href="#">
                    <div class="button primary">Back</div>
                </a>
                <a href="#">
                    <div class="button primary">Information</div>
                </a>
                <a href="#">
                    <div class="button primary">Next</div>
                </a>
            </div>
        </div>
    </div>
</div>

